@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Play&display=swap');

:root{
    --font-family: 'Montserrat', sans-serif;
}

[data-contexto="light"] {
    --bg-color: #C96E12;
    --primary-color: #FFF897;
    --secondary-color: #F6C101; 
}

[data-contexto="dark"] {
    --bg-color: #282A3A;
    --primary-color: #C69749;
    --secondary-color: #735F32;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    margin: 0;
    font-family: var(--font-family);
}

header {
    background-color: var(--primary-color);
    color: var(--bg-color);
    height: 10vh;
    min-height: 80px;
    display: flex;
}

nav {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer {
    border-top: 1px solid var(--primary-color);
    background-color: var(--bg-color);
    color: var(--primary-color);
    height: 10vh;
    display: flex;
}

h1 {
    font-size: 5em;
}

button {
    font-size: 1.5em;
    margin-top: 20px;
    padding: 8px 15px;
    border: 0px;
    border-radius: 12px;
    background-color: var(--primary-color);
    color: var(--bg-color);
}

hr {
    border: 1px solid var(--primary-color);
}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logo{
    margin-left: 20px;
    margin-right: autox;
}

.modo-noturno {
    margin-left: auto;
    margin-right: 20px;
}

.modo-noturno-texto{
    position: relative;
    top: 0;
    display: inline;
    margin: 0px;
}

#carta {
    font-size: 1.5em;
    height: 11.5em;
    width: 9.5em;
    margin-top: 20px;
    padding: 8px 15px;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    background-color: var(--bg-color);
    color: var(--primary-color);
}

#valor-carta {
    font-size: 3.5em;
}

#valor-inicio{
    font-size: 2em;
}

#fim-de-jogo{
    font-size: 4em;
    font-weight: bolder;
    margin: 20px;
}

#cartas-faltantes{
    margin: 10px;
}

.switch {
    position:relative;
    top: 5px;
    left: 40%;
    display: inline;
    width: 40px;
    height: 22.2px;;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16.9px;
    width: 16.9px;
    left: 2.6px;
    bottom: 2.6px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked + .slider {
    background-color: var(--bg-color);
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--bg-color);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(16.9px);
    -ms-transform: translateX(16.9px);
    transform: translateX(16.9px);
}

.slider.round {
    border-radius: 8px;
}
  
.slider.round:before {
    border-radius: 35%;
}

  


